{% load static %}
<!doctype html>
<html lang="en" data-layout="horizontal" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg">



<head>

    <meta charset="utf-8" />
    <title>Sistema | Genérico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'base/assets/images/favicon.ico'%}">

    <!-- Layout config Js -->
    <script src="{% static 'base/assets/js/layout.js'%}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'base/assets/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'base/assets/css/icons.min.css'%}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'base/assets/css/app.min.css'%}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{% static 'base/assets/css/custom.min.css'%}" rel="stylesheet" type="text/css" />


</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        <!-- Barra Superior -->
        {% include 'base/barra_superior.html' %}
        <!-- Fin Barra Superior -->

        
        <!-- ========== App Menu ========== -->
        <div class="app-menu navbar-menu">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <!-- Dark Logo-->
                <a href="index.html" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="{% static 'base/assets/images/logo-sm.png'%}" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="{% static 'base/assets/images/logo-dark.png'%}" alt="" height="17">
                    </span>
                </a>
                <!-- Light Logo-->
                <a href="index.html" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{% static 'base/assets/images/logo-sm.png'%}" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="{% static 'base/assets/images/logo-light.png'%}" alt="" height="17">
                    </span>
                </a>
                <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
                    id="vertical-hover">
                    <i class="ri-record-circle-line"></i>
                </button>
            </div>

            <div id="scrollbar">
                <div class="container-fluid">

                    <div id="two-column-menu">
                    </div>

                    <!-- Inicio Menu -->
                    {% include 'base/menu.html' %}
                    <!-- Fin Menu-->
                    
                   
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    {% block titulo%}
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Título de la sección</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                                        <li class="breadcrumb-item active">Starter</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endblock %}
                    <!-- end page title -->

                    {% block contenido %}

                                      
                       
                        <h1>AQUI SE COLOCA EL CONTENIDO DE LA PGINA - NO OLVIDAR QUE ENTRA EN UNA CLASE row</h1>
                        

                       
                    

                    {% endblock %}
                    <!-- Fin Bloque de Contenido-->


                    

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <!-- Inicio del Footer -->
            {% include 'base/pie.html' %}
            <!-- Fin del Footer -->

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->



    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->




    <!-- JAVASCRIPT -->
    <script src="{% static 'base/assets/libs/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'base/assets/libs/simplebar/simplebar.min.js'%}"></script>
    <script src="{% static 'base/assets/libs/node-waves/waves.min.js'%}"></script>
    <script src="{% static 'base/assets/libs/feather-icons/feather.min.js'%}"></script>
    <script src="{% static 'base/assets/js/pages/plugins/lord-icon-2.1.0.js'%}"></script>
    <script src="{% static 'base/assets/js/plugins.js'%}"></script>

    <!-- App js -->
    <script src="{% static 'base/assets/js/app.js'%}"></script>
</body>



</html>